<h1>Editing user</h1>

<div style="text-align:center">
  <%= render "form", user: @user %>
</div>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
